<div class="content" role="main">

  <div class="card-container heading">
    <div class="heading">
      <img src="../assets/yoma-logo.png" alt="Yoma Logo">
      <h1 class="mat-display-1" [style.marginBottom.em]="1">Activation Request Form</h1>
      <p [hidden]="isSuccess">
        Dear YOMA Bank customer, please complete the following information to reset password for your mobile banking
        application.
        * YOMA Bank will never contact you for any confidential information (such as OTP, PINs). Your data will not be
        shared to any parties without your consent. <br><br>
        လူကြီးမင်း၏ Mobile banking application စကားဝှက်အား အသစ်ရယူရန်အတွက် ကျေးဇူးပြု၍ အောက်ပါအချက်အလက်များကို
        ပြည့်စုံစွာ ဖြည့်စွက်ပေးပါ။
        * လူကြီးမင်း၏ လျှို့ဝှက်ထားရမည့် ပုဂ္ဂိုလ်ရေးအချက်အလက်များ (OTP, PINs စသည်များ) ကို ရိုးမဘဏ်မှ
        တောင်းဆိုမည်မဟုတ်ပါ။ လူကြီးမင်း၏ ခွင့်ပြုချက်မရရှိဘဲ မည်သည့်အချက်အလက်ကိုမျှ မည်သူတစ်ဦးတစ်ယောက်ထံသို့
        မျှဝေပေးသွားမည် မဟုတ်ပါ။
      </p>
      <p [hidden]="!isSuccess" class="success-paragraph">
        Thank you for using Yoma Bank and please accept our sincere apologies for any inconvenience caused. Please give
        us some
        time to process this request as there are many requests coming in. You will receive a temporary password to
        access
        mobile banking application by SMS shortly.
        <br><br>
        <span class="mm-paragraph">
          ရိုးမဘဏ်ကိုအသုံးပြုခြင်းအတွက် ကျေးဇူးတင်ပါသည်။ အဆင်မပြေမှုများအတွက် အနူးအညွတ်တောင်းပန်အပ်ပါသည်။
          လက်ရှိတွင်တောင်းဆိုမှုများ များပြားနေသည့်အတွက် လူကြီးမင်း၏ တောင်းဆိုချက်ကို ဆောင်ရွက်နိုင်ရန်အတွက်
          အချိန်အနည်းအငယ်မျှ
          စောင့်ဆိုင်းပေးပါရန် မေတ္တာရပ်ခံအပ်ပါသည်။ မကြာမီအချိန်အတွင်း mobile banking application သို့ ဝင်ရောက်ရန်အတွက်
          ယာယီစကားဝှက်အား စာတိုစနစ် (SMS) ဖြင့် ပေးပို့သွားပါမည်။
        </span>

      </p>
    </div>
  </div>
  <div class="card-container body" *ngIf="!isSuccess">
    <form class="example-form" [formGroup]="userForm" class="form-text">

      <label for="name">
        1. Name <span class="require">*</span> <br />
        <span class="mm-label">အမည် (ရိုးမဘဏ်စာရင်းဖွင့်လှစ်ထားသည့် အမည်)</span>
      </label>
      <mat-form-field appearance="outline" class="full-width">
        <input id="name" matInput placeholder="Mg Mg" formControlName="customerName" autocomplete="off">
        <button mat-button *ngIf="form['customerName'].value" matSuffix mat-icon-button aria-label="Clear"
          (click)="form['customerName'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error>Required field.</mat-error>
      </mat-form-field>

      <label for="phno">
        2. Mobile phone number (for app) <span class="require">*</span><br />
        <span class="mm-label">Mobile banking application တွင်မှတ်ပုံတင်ထားသော ဖုန်းနံပါတ်</span>
      </label>
      <mat-form-field appearance="outline" class="full-width">
        <input id="phno" matInput type="tel" placeholder="09XXXXXXXXXXXX" formControlName="mobileNo" autocomplete="off"
          maxlength="11" numbersOnly>
        <button mat-button *ngIf="form['mobileNo'].value" matSuffix mat-icon-button aria-label="Clear"
          (click)="form['mobileNo'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form['mobileNo'].errors?.required">
          Required field.
        </mat-error>
        <mat-error *ngIf="form['mobileNo'].errors?.pattern">
          Incorrect or invalid phone number. Please try again.
        </mat-error>
      </mat-form-field>

      <label for="nrc">
        3. NRC number <span class="require">*</span><br>
        <span class="mm-label">နိုင်ငံသားစိစစ်ရေးကတ်ပြား အမှတ်</span>
      </label>
      <div class="full-width">

        <div class="flex-container">
          <mat-form-field appearance="outline" [style.width.%]="15">
            <mat-select id="nrc" formControlName="nrcRegion" (selectionChange)="changedTownship($event)">
              <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]" [value]="item">{{ item
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="slash">/</span>

          <mat-form-field appearance="outline" [style.width.%]="30" [style.marginRight.px]="10">
            <mat-select formControlName="nrcTownship">
              <mat-option *ngFor="let township of townships" [value]="township.value">{{township.value}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="responsive-citizen" [style.marginRight.px]="10">
            <mat-select formControlName="nrcCitizen">
              <mat-option *ngFor="let citiz of Citizens" [value]="citiz">{{ citiz }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput type="tel" placeholder="123456" formControlName="nrcNumber" autocomplete="off" maxlength="6"
              numbersOnly>
            <mat-error *ngIf="form['nrcNumber'].errors?.required">
              Required field.
            </mat-error>
            <mat-error *ngIf="form['nrcNumber'].errors?.pattern">
              Invalid nrc number.
            </mat-error>
          </mat-form-field>
        </div>

      </div>


      <label for="birthdate">
        4. Date of Birth <span class="require">*</span> <br>
        <span class="mm-label">မွေးနေ့</span>
      </label>
      <mat-form-field appearance="outline" class="full-width">
        <input id="birthdate" matInput [matDatepicker]="picker1" placeholder="Please input date" formControlName="dob"
          autocomplete="off" [max]="maxDate" readonly>
        <mat-error>Required field.</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <label for="mpu">
        5. SMART MPU Card (16 digits)<span class="require">*</span> <br>
        <span class="mm-label">SMART MPU ကဒ်နံပါတ် (ဂဏန်း ၁၆ လုံး)</span>
      </label>
      <mat-form-field appearance="outline" class="full-width">
        <input id="mpu" matInput type="tel" placeholder="xxxxxx" formControlName="atmCardNo" autocomplete="off"
          numbersOnly maxlength="16">
        <button mat-button *ngIf="form['atmCardNo'].value" matSuffix mat-icon-button aria-label="Clear"
          (click)="form['atmCardNo'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="form['atmCardNo'].errors?.required">
          Required field.
        </mat-error>
        <mat-error *ngIf="form['atmCardNo'].errors?.pattern">
          Invalid card no.
        </mat-error>
      </mat-form-field>

      <div class="btn-container">
        <button (click)="captchaRef.execute()" class="btn-primary" mat-flat-button
          [disabled]="!userForm.valid || isLoading" [class.spinner]="isLoading">Submit</button>
      </div>


    </form>

  </div>


  <!-- Footer -->
  <footer>
    <re-captcha #captchaRef="reCaptcha" (resolved)="resolved($event)" (error)="onError($event)" errorMode="handled"
      siteKey="6LcMBT4aAAAAAGpm970Phx8Bq-jNHDO9rZJAKpU_" size="invisible"></re-captcha>
    <mat-icon [style.opacity]="0">account_balance</mat-icon>
  </footer>

</div>