:host {
    font-family: "Pyidaungsu";
    font-size: 1.2rem;
    color: #333;
    line-height: 1.7rem;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

.spacer {
    flex: 1;
}

.content {
    display: flex;
    margin: 50px auto 32px;
    padding: 0 50px;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
}

.card svg.material-icons path {
    fill: #888;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.heading {
    background-color: #343a40;
    color: #fff;
}

.body {
    background-color: #fff;
}

.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.mm-label {
    margin-left: 1rem;
}

.require {
    font-size: x-large;
    color: #f30023;
}

.mm-paragraph {
    line-height: 1.6rem;
}

.success-paragraph {
    border-color: transparent;
    border-left-color: green;
    border-radius: 7px;
    border-style: solid;
    padding-left: 1rem;
}

.slash {
    font-size: 1.8rem;
    margin: 10px;
    margin-top: 33px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.responsive-citizen {
    width: 17%;
}

footer {
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer a {
    display: flex;
    align-items: center;
}

.btn-container {
    padding: 20px 17px;
}

/* Responsive Styles */
@media screen and (min-width: 767px) {
}

@media screen and (max-width: 575px) {
    .content {
        margin: 0;
        padding: 0;
    }

    .card-container {
        padding: 20px;
    }

    .btn-primary {
        width: 100%;
    }

    .btn-container {
        margin-left: 20px;
    }

    .form-text {
        font-size: 12px;
    }

    .slash {
        margin: 10px;
    }

    .responsive-citizen {
        width: 20%;
    }
}

.full-width {
    width: 100%;
    margin-left: 1rem;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -14px;
    margin-left: -10px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    border-top-color: #d5050d;
    animation: spinner 0.8s linear infinite;
}
