/* You can add global styles to this file, and also import other style files */
@import url("https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu");

html,
body {
    height: 100%;
}
body {
    margin: 0;
    background-image: url("./assets/background.jpeg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: unset;
    background-size: cover;
    position: relative;
}

button {
    height: 3rem;
    width: 10rem;
}

.btn-primary {
    background-color: #ed1b34;
    color: #fff;
    font-size: 18px;
    border-width: 2px;
}
